.header {
	width: 100%;
	background-color: $roku-purple;
	a {
	display: flex;
	justify-content: center;
		img {
		width: 35%;
		margin: 5% 0;
	}
}
}

nav {
	display: flex;
}

body {
	background-color: $bck;
}