.header {
	width: 100%;
	background-color: $roku-purple;
	ul {
		display: flex;
		width: 100%;
		img {
			width: 100%;
		}
		span {
			display: flex;
			margin-top: 5%;
			margin-right: 5%;
			li {
				margin: 0 5%;
				color: white;
			}
		}
		li {
			width: 100%;
		}

		a {
			img {
			width: 35%;
			margin: 5% 0 5% 5%;
		}
	}
}
}

body {
	background-color: $bck;
}

.kidsCon {
	background-color: #ecd7fc;
}

.kidsDec {
	h1 {
		color: $roku-purple;
	}

	h3 {
		color: $roku-purple;
	}
}

.kidsBox {
	background-color: #ecd7fc;

	.dynWrap {
		h4 {
			color: $roku-purple;
		}

		.dynPara {
			p {
				color: $roku-purple;
				border-top-color: $roku-purple;
				border-bottom-color: $roku-purple;
			}
		}
	}
}