@media screen and (min-width: 414px) {
    .loginWrapper {
        h1 {
            font-size: 11vw;
            width: 44%;
        }

        form {
            div {
                div {
                    button {
                        padding: 3% 3% 2.5%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .header {
        ul {
            li {
                a {
                    img {
                        width: 18%;
                        margin: 2% 0 2% 3%;
                    }
                }
            }
        }

        div {
            img {
                width: 3%;
                margin-top: -6.5%;
                margin-right: 1%;
            }
        }
    }

    .loginWrapper {
        h1 {
            font-size: 9vw;
            width: 38%;
            border-bottom: 5px solid $roku-purple;
        }
        form {
            div {
                div {
                    width: 65%;
                    input {
                        margin-top: 10%;
                        font-size: 5vw;
                        text-align: center;
                        border-bottom: 6px solid $roku-purple;

                        &::placeholder {
                            font-size: 5vw;
                        }
                    }
                    button {
                        width: 38%;
                        font-size: 3.5vw;
                        border-radius: 1vw;
                    }
                }
            }
        }
    }

    .profileWrap {
        flex-direction: row;
        flex-wrap: wrap;
        div {
            width: 34%;

            a {
                img {
                    width: 100%;
                    display: flex;
                }

                h2 {
                    font-size: 5vw;
                }
            }
        }
    }

    .wrapper {
        h1 {
            font-size: 6vw;
        }
        .contentCon {
            margin-right: 1%;
            h3 {
                font-size: 2vw;
            }
        }
    }

    .imgDiv {
        img {
            width: 24vw;
        }
    }

    .bottomNav {
        border-top-width: 3px;
        padding: 1% 0;
        ul {
            width: 50%;
            margin: 0 auto;
            li {
                width: 13%;
            }
        }
    }

    .dynamicBox {
        h4 {
            font-size: 5vw;
        }
        .dynClose {
            font-size: 3vw;
            left: 89%;
            top: 3.5%;
            padding: 1% 1.8%;
        }

        img {
            width: 40%;
        }

        p {
            font-size: 3vw;
            line-height: 4vw;
        }
    }

    .filterNav {
        width: 60%;
        margin-left: auto;

        h3 {
            font-size: 2.6vw;
        }

        ul {
            li {
                a {
                    font-size: 2.6vw;
                }
            }
        }
    }
}

@media screen and (min-width: 834px) {

    .loginWrapper {
      margin-top: 15%;
        form {
            div {
                div {
                    width: 58%;
                    button {
                        font-size: 3vw;
                        padding: 2.5% 3% 1.7%;
                        margin: 7% auto 0;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 20%;
        p {
            font-size: 3vw;
        }
    }

}

@media screen and (min-width: 1024px) {
    .profileCon {
        width: 79%;
        margin: 0 auto;
    }

    .profileWrap {
        div {
            width: 33%;
            margin: 17% auto 5%;
        }
    }

    .imgDiv {
        img {
            width: 20vw;
        }
    }

    .wrapper {
        h1 {
            margin-top: 10%;
            margin-bottom: 3%;
        }
        .contentCon {
            h3 {
                font-size: 1.5vw;
            }
        }
    }

    .bottomNav {
        ul {
            width: 37%;
        }
    }
}

@media screen and (min-width: 1366px) {
    .loginWrapper {
        margin-top: 7%;
        h1 {
            font-size: 7.5vw;
            width: 29%;
            border-bottom: 6px solid $roku-purple;
            margin-bottom: 10%;
        }

        form {
            div {
                div {
                    width: 45%;
                    margin-top: 5%;
                    input {
                        font-size: 3.5vw;
                        margin-top: 2%;

                        &::placeholder {
                            font-size: 3.5vw;
                        }
                    }

                    
                    button {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .profileWrap {
        div {
            a {
                h2 {
                    font-size: 3.5vw;
                }
            }
        }
    }

    .dynamicBox {

        .dynClose {
            font-size: 2vw;
            left: 93%;
            top: 3.5%;
            padding: 0.3% 0.9% 0.4%;
        }

        .dynWrap {
            display: flex;
            padding-top: 0;
            justify-content: space-evenly;
            h4 {
                font-size: 3vw;
                margin-top: 0;
            }
            .dynImgWrap {
                width: 44%;
                img {
                    width: 75%;
                }
            }
            .dynPara {
                width: 56%;
                margin-top: 12%;
                p {
                    font-size: 2vw;
                    line-height: 3.3vw;
                }
            }
        }
    }

    .filterNav {
        width: 38%;
        h3 {
            font-size: 1.6vw;
        }

        ul {
            li {
                a {
                    font-size: 1.6vw;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .loginWrapper {

        form {
            div {
                div {
                    width: 40%;

                    button {
                        font-size: 2vw;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 10%;
    }

    .imgDiv {
        img {
            width: 19vw;
        }
    }

    .wrapper {
        h1 {
            margin-top: 6%;
            margin-bottom: 1%;
            font-size: 5vw;
            margin-left: 1%;
        }
        .contentCon {
            margin-right: 0;
            h3 {
                font-size: 1.2vw;
                margin: 2% auto;
            }
        }
    }

    .bottomNav {
        ul {
            width: 28%;
        }
    }

    .dynamicBox {

        .dynWrap {
            h4 {
                font-size: 2.5vw;
            }
            .dynImgWrap {
                width: 50%;
                img {
                    width: 53%;
                }
            }

            .dynPara {
                p {
                    font-size: 1.6vw;
                    line-height: 2.4vw;
                }
            }
        }
    }

}

@media screen and (min-width: 1680px) {
    .loginWrapper {
        margin-top: 9%;
        h1 {
            font-size: 6vw;
            width: 24%;
            margin-bottom: 2%;
        }

        form {
            div {
                div {
                    width: 34%;
                    margin-top: 5%;
                    margin-bottom: 7%;

                    input {
                        font-size: 2.5vw;

                        &::placeholder {
                            font-size: 2.5vw;
                        }
                    }
                }
            }
        }
    }

    footer {
        p {
            font-size: 1.5vw;
        }
    }
}

@media screen and (min-width: 1900px) {
    .loginWrapper {
        form {
            div {
                div {
                    button {
                        font-size: 1.5vw;
                        width: 30%;
                        border-radius: 0.5vw;
                    }
                }
            }
        }
    }

    .imgDiv {
        img {
            width: 15vw;
        }
    }

    .wrapper {
        .contentCon {
            h3 {
                font-size: 1vw;
            }
        }
    }
} 