.wrapper {
    margin-top: 5%;
    overflow: hidden;

    h1 {
        font-size: 11vw;
        color: white;
        margin-top: 5%;
        margin-bottom: 6%;
        margin-left: 10%;
        font-weight: bold;
    }

    .decadeWrap {
        display: flex;
        width: 100%;
        overflow: scroll;
    }
    .contentCon {
        display: flex;
        color: white;
        flex: 1 1 auto;
        flex-wrap: wrap;
        margin: 0 3% 0 1%;

        h3 {
            font-size: 4vw;
            margin: 5% auto;
            text-align: center;
        }
    }
}

.imgDiv {

    img {
        width: 40vw;
    }
}

.bottomNav {
    ul {
        z-index: 99999;
        border-top: 1px solid $roku-purple;
        background-color: #202020;
        padding: 3% 0;
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
        transition: bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        li {
            width: 10%;
        }
        li:nth-child(2) {
            img {
                margin-top: 19%;
            }
        }
        li:nth-child(3) {
            img {
                margin-top: 10%;
            }
        }
    }
}

.test2 {
    animation: 3s revealCon ease-out;
    animation-fill-mode: forwards;
}


@keyframes revealCon {
    0% {height: 0 !important; opacity: 0;}
    5% {height: 0!important; opacity: 0;}
    99% {height: 100% !important;}
    100% {height: 100% !important; opacity: 1;}
}

.lower {
    bottom: -20% !important;
}