.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
    overflow: hidden;
    div {
        display: flex;
        flex-direction: column;
        width: 33%;
        img {
            margin: 0 auto;
            width: 90%;
        }
        h1,h2 {
            color: white;
            text-align: center;
            font-size: 4vw;
            font-family: Arial, Helvetica, sans-serif !important;
            font-weight: bold;
            line-height: 6vw;
        }
        h2 {
            margin: 14% 0;
        }
    }
}

.bottomNav {
    ul {
        z-index: 99999;
        border-top: 1px solid $roku-purple;
        background-color: #202020;
        padding: 3% 0;
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
        transition: bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        li {
            width: 10%;
        }
        li:nth-child(2) {
            img {
                margin-top: 19%;
            }
        }
        li:nth-child(3) {
            img {
                margin-top: 10%;
            }
        }
    }
}

.test2 {
    animation: 3s revealCon ease-out;
    animation-fill-mode: forwards;
}


@keyframes revealCon {
    0% {height: 0 !important; opacity: 0;}
    5% {height: 0!important; opacity: 0;}
    99% {height: 100% !important;}
    100% {height: 100% !important; opacity: 1;}
}

.lower {
    bottom: -20% !important;
}